<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/jpg" href="/public/favicon.jpg" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container"><%- content %></div>
  </body>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
    body {
      background-color: #282828;
      font-family: "IBM Plex Mono";
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
    }

    .container {
      padding: 2px 16px;
    }

    a {
      color: #98971a;
    }

    a:visted {
      color: #fb4934;
    }
  </style>
</html>
