<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles</title>
  </head>
  <body>
    <h1>Articles!</h1>
    <% articles.forEach(article => { %>
    <div class="card">
      <div class="container"><a href=<%= article.path %>> <%= article.title %></div>
    </div>
    <% }) %>
  </body>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
    body {
      background-color: #212121;
      font-family: "Montserrat";
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
    }

    .container {
      padding: 20px 20px;
    }

    .card {
      box-shadow: 0 4px 8px 0 #368af8;
      transition: 0.3s;
      border-radius: 5px; /* 5px rounded corners */
    }

    a {
      color: #368af8
    }

    a:visted {
      color: #368af8
    }
  </style>
</html>
