<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles</title>
  </head>
  <body>
    <h1>Articles!</h1>
    <% articles.forEach(article => { %>
    <div class="card">
      <div class="container"><a href=<%= article.path %>> <%= article.title %></div>
    </div>
    <% }) %>
  </body>
  <style>
    h1 {
      text-align: center;
      color: white;
    }

    body {
      background-color: lightskyblue;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      padding: 20px;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
      padding: 2px 16px;
    }
  </style>
</html>
